*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

.about{
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background: radial-gradient(rgba(0, 132, 255, 0.753), rgba(126, 30, 252, 0.589));
}

.about-heading{
    flex-basis: 50%;
    align-items: center;
    border: 2px solid rgba(114, 42, 247, 0.144);
    padding: 50px;
    border-radius: 15px;
    margin: 20px;
}

.about-heading h1{
    border-radius: 15px;
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    border: 2px solid rgba(114, 42, 247, 0.144);
    transition: all ease-in-out 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading h1:hover{
    color: #fff;
    background-color: rgba(114, 42, 247, 0.144);
    transform: translateY(-10px);
    transition: all ease-in-out 0.5s;

}
.about-box{
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    transition: all ease-in-out 0.5s;
}

.about-image-box img{
    height: 50%;   
    transition: all ease-in-out 0.5s;
    border: 10px solid rgba(114, 42, 247, 0.568);
    border-radius: 30px;
}

.about-image-box img:hover{
    transition: all ease-in-out 0.5s;
    transform: translateY(-10px);
}
