*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 200px;
    background: radial-gradient(rgb(0, 132, 255), rgb(126, 30, 252));
}

.heading{
    flex-basis: 50%;
    min-width: 300px;
}

.heading h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.heading h1:hover{
    transition: all ;
    color: #fff;
    background-color: #2a57a5;
    padding:10px 40px;
}

.heading img{
    max-width: 100%;
    height: 500px;
    padding: 50px 0;  
    border-radius: 15%;
}

.heading img:hover{
    transform: translateY(-10px);
}
