*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

.home{
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background: radial-gradient(rgba(0, 132, 255, 0.753), rgba(126, 30, 252, 0.589));
}

.heading{
    /* flex-basis: 50%; */
    min-width: 300px;
    align-items: center;
    border: 2px solid rgba(114, 42, 247, 0.144);
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.heading h1{
    border-radius: 15px;
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
    padding: 25px;
    text-align: center;
    border: 2px solid rgba(114, 42, 247, 0.144);
    transition: all ease-in-out 0.5s;
}

.heading h1:hover{
    color: #fff;
    background-color: rgba(114, 42, 247, 0.144);
    transform: translateY(-10px);
    transition: all ease-in-out 0.5s;

}
.box{
    border-radius: 15px;
    margin: 25px;
    padding: 25px;
    transition: all ease-in-out 0.5s;
}

.image-box img{
    height: 150%;   
    transition: all ease-in-out 0.5s;
    border: 10px solid black;
    border-radius: 30px;
}

.image-box img:hover{
    transition: all ease-in-out 0.5s;
    transform: translateY(-10px);
}
